body{
	background: url("Assets/CryImages/subtlegray.png")
}

p {
	margin-top: .5em
	margin-bottom: .5em;
	color: #fff;
}


.jumbo-color {
	background: orange;
	;
}


.custom1 {
	text-align: center;
	width: 200px;
	height: 200px;
	background: #337ab7;
	margin-left: 1%;
	margin-right:  7%;
	border-radius: 5%
	}

.custom2{
	width: 200px;
	height: 200px;
	background: #451b55;
	border-radius: 5%;
}

.custom3{
	background: #89ff24;
	border-radius: 5%
    
    
}

.custom4{
	background: #89ff24;
    text-align: center;
    border-radius: 5%
}





h3, h4 {
	color: #fff;
	text-align: center;
	margin-top: 20%;
}

h2 {
	font-size: 2em;
	
}
 
.user-score {
	width: 260px;
	height: 260px;
	background-color: teal;
}


#guessNumber {
	margin-top: 50%;
	color: #fff;
	font-size: 2em;
}

body {
	margin: 0 auto;
}

img {
	margin-bottom: 5%;
	margin-top: 5%;
	border: dashed #4aaaa5  4px;
	border-radius: 4px;
}